@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html,
  body {
    padding: 0;
    margin: 0;
  }

  a {
    color: inherit;
    text-decoration: none;
  }

  * {
    box-sizing: border-box;
  }
  h4 {
    @apply text-lg font-medium;
  }
  .scrollbar-none {
    scrollbar-width: none;
  }
  .scrollbar-none::-webkit-scrollbar {
    display: none;
  }
}

@layer components {
  .subtext {
    @apply text-gray-500 dark:text-pewter-blue text-sm;
  }
  .button {
    @apply relative text-sm inline-flex items-center py-2 px-3 rounded;
  }
  .background-hover {
    @apply dark:bg-secondary-green dark:bg-opacity-20 transition-all dark:hover:bg-opacity-100 bg-gray-100 hover:bg-opacity-50;
  }
  .base-link {
    @apply text-gray-500 hover:text-gray-600 transition;
  }
  .bordered-item {
    @apply border-gray-200 dark:border-gray-800;
  }
  .primary-bg {
    @apply bg-slate-200 dark:bg-primary-green;
  }
  .secondary-bg {
    @apply bg-slate-100 dark:bg-secondary-green;
  }
  .primary-border {
    @apply border-slate-200 dark:border-primary-green;
  }
  .secondary-border {
    @apply border-slate-100 dark:border-secondary-green;
  }
  .bg-hover {
    @apply hover:bg-slate-200 dark:hover:bg-primary-green transition-all;
  }
  .bg-reverse-hover {
    @apply hover:bg-slate-100 dark:hover:bg-secondary-green transition-all;
  }
  .title {
    @apply text-base truncate;
  }
  .filler-img {
    @extend .secondary-bg;
    @apply w-full h-full flex-shrink-0 flex justify-center items-center shadow-md;
  }
  .skeleton-text {
    @extend .secondary-bg;
    @apply w-full h-4 animate-pulse rounded;
  }
  .card-sm-text {
    @apply font-medium truncate text-sm;
  }

  ul {
    .list-border {
      @apply border-t border-r border-l last:border-b;
    }
  }

  .img-wrap {
    @apply flex flex-shrink-0 flex-grow object-contain object-center aspect-square;
    &.full-round {
      @apply rounded-full shadow overflow-hidden;
    }
    &.soft-round {
      @apply rounded shadow overflow-hidden;
    }
    &.sm-img {
      @apply max-w-[40px] max-h-[40px];
    }
    &.md-img {
      @apply max-w-[80px] max-h-[80px];
    }
    &.lg-img {
      @apply max-w-[200px] max-h-[200px];
    }
    &.xl-img {
      @apply max-w-[320px] max-h-[320px];
    }
  }

  .sticky-header {
    position: sticky;
    z-index: 10;
    top: 0;
    // @apply bg-white dark:bg-dark transition-all;
    backdrop-filter: saturate(100%) blur(20px);
  }
  .tab {
    @apply pb-2 sm:flex-none whitespace-nowrap;
    &.active {
      @apply border-b dark:border-slate-200 border-primary-green;
    }
  }
  button {
    @apply cursor-pointer text-left;
  }
}
