@import "fonts";
@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.subtext {
  @apply text-gray-500 dark:text-pewter-blue;
}

.bordered-item {
  @apply border-gray-200 dark:border-gray-800;
}

.bg-hover {
  @apply hover:bg-gray-200 dark:hover:bg-green-custom transition-all;
}

ul {
  .list-border {
    @apply border-t border-r border-l last:border-b;
  }
}

.base-link {
  @apply text-gray-500 hover:text-gray-600 transition;
}

.button {
  @apply text-sm font-normal dark:text-white inline-block px-3 py-2 rounded-lg;
}

.background-hover {
  @apply dark:bg-green-custom dark:bg-opacity-20 transition-all dark:hover:bg-opacity-100 bg-gray-100 hover:bg-opacity-50;
}

.img-wrapper {
  @apply flex shadow-md flex-shrink-0;
  &.is-rounded {
    @apply rounded-full overflow-hidden;
  }
  &.xs {
    @apply w-10 h-10;
  }
  &.medium {
    @apply w-20 h-20;
  }
  &.large {
    @apply w-32 h-32;
  }
}

.filler-img {
  @apply w-full h-full bg-gray-400 flex-shrink-0 flex justify-center items-center shadow-md;
}

.card-sm-text {
  @apply font-medium truncate text-sm;
}

.badge {
  @extend .subtext;
  @apply text-[10px] uppercase;
}

.track,
.mini-track {
  .icon {
    @apply ml-auto mr-2 text-black dark:text-white fill-current;
    visibility: hidden;
    &.is-active {
      visibility: visible;
    }
  }

  &:hover {
    .icon {
      visibility: visible;
    }
  }
}
